name: Tests
on: [push, pull_request]
jobs:
  tests:
    name: ${{matrix.go-version}} ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.16.x, 1.17.x]
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Test
        run: |
          go test -race ./...
          go install -v ./packr2
